<button (click)="addTheme()">Add theme</button>
<div cdkDropList 
[cdkDropListData]="themes" 
(cdkDropListDropped)="dropGroup($event)">
	<div cdkDropListtheme class="example-container" 
  *ngFor="let theme of themes" 
  cdkDrag [cdkDragData]="theme">
		<h2>{{theme.title}}</h2>
		<div cdkDropList class="example-list" 
    id={{theme.id}}
    [cdkDropListData]="theme.subthemes" 
    (cdkDropListDropped)="dropItem($event)"
		[cdkDropListConnectedTo]="getConnectedList()">
			<div class="example-box" 
      *ngFor="let item of theme.subthemes" 
      cdkDrag [cdkDragData]="item">
				{{item.code[0]}}
			</div>
		</div>
	</div>
</div>
